<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My notes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'noter/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="{% url 'noter:index' %}" class = "logo">Noter</a>
        {% if user %}
            <div class="header-right">
                Logged as: {{ user.first_name }} {{ user.last_name }} | <a href="{% url 'noter:user_settings' %}" class="settings">Settings</a> | <a href="{% url 'noter:logout' %}" class="logout">Logout</a>
            </div>
        {% endif %}
        <div style="clear: both;"></div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>